

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 130px;
}
nav ul{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    
}

.btn-styles{
    color: #FFFFFF;
    background-color: #4E47FF;
    font-weight: bold;
    border: none;
    font-size: 15px;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    
}
.btn-styles:hover{
    color: #252432;
    cursor: pointer;
}

.banner{
    text-align: center;
    margin-top: 130px;
    
}
.banner-font{
    font-size: 50px;
    
}
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 600px;
    background-size: cover;
    margin-bottom: 50px;
    
}
/* section */
.action{
    border-radius: 10px;
    max-width: 1140px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}



.section-title{
    color: #252432;
    font-weight: bold;
    font-size: 40px;
}

.users-style{
    height: 280px;
    background-color: #4d47ff22;
    padding: 50px 80px;
    text-align: center;
    padding-bottom: 100px;
    border-radius: 30px;
    margin-top: 50px;
    
}

    
.users-items{
    display: flex;
    justify-content: space-around;

}
.item-title{
    font-size: 80px;
    font-weight: bold;
}


.item-description{
    font-size: 20px;
    
    
}

.image-container{
     width: 403;         
  height: 300;            
  border-radius: 48px;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    background-color: #F7F8FA;
}
.touch-title{
    font-weight: bold;
    font-size: 100px;
}
.touch-column{
    display: flex;
    gap: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 100px;
    background-color: #4d47ff22;
    border-radius: 30px;
    margin-top: 50px;

}
section input[type="text"], section input[type="email"], section textarea{
    width: 80%;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    background-color: white;

}
.footer-head{
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;

}
footer{
   
    text-align: center;
    max-width: 100%;


    
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    padding: 10px;
    
    
}
footer ul li a{
    text-decoration: none;
    color: #252432;
}



    
    


